.patientsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 60vw;
  margin-top: 150px;
}

.heading {
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #213547;
  color: white;
  border-bottom: 1px solid #e9ecef;
  height: 70px;
  margin: 0;
}

.spinnerContainer {
  height: 20px;
  width: 20px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
  width: 100%;
}

.actionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actionsContainerSmall {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.searchInput {
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.searchInputSmall {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  height: 200px;
}

.buttonModal {
  width: 100%;
  display: flex;
  flex-direction: column;
}
