#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mainButton {
  background-color: #213547;
  color: white;
  text-transform: uppercase;
}

.mainButton:disabled {
  background-color: #ced4da;
  color: #495057;
}

.mainButton:disabled:hover {
  background-color: #ced4da;
  color: #495057;
  cursor: not-allowed;
  border: 1px solid #ced4da;
}

.mainButton:hover {
  background-color: #213547e1;
}
